# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cerkva.pp.ua/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /cerkva.pp.ua/index.php [L]
</IfModule>

# END WordPress
#BEGIN Browser cache
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch "\.(jpg|gif|png|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 year"
</filesmatch>
</ifmodule>
#END Browser cache
